.stripe-card-element {
    border-radius: 4px 4px 4px 4px;
    padding: 12px;
    border: 1px solid rgba(50, 50, 93, 0.1);
    height: 44px;
    width: 100%;
}

.error {
    color: red;
    float: left;
    margin-left: 1px;
}

.cards {
    float: right;
    margin-right: 1px;
}
