version: 2.1

orbs:
    release-management: salesforce/npm-release-management@4

workflows:
    version: 2
    test-and-release:
        jobs:
            - release-management/validate-pr:
                  filters:
                      branches:
                          ignore: main-2
            - release-management/test-package:
                  name: node-latest
                  node_version: latest
            - release-management/test-package:
                  name: node-12
            - release-management/release-package:
                  sign: true
                  github-release: true
                  requires:
                      - node-latest
                  filters:
                      branches:
                          only: main-2
                  context: CLI_CTC
    test-ts-update:
        triggers:
            - schedule:
                  cron: 0 0 * * *
                  filters:
                      branches:
                          only:
                              - main-2
        jobs:
            - release-management/test-ts-update
