ul {
    border: 1px solid var(--dxp-g-root-1);
    z-index: 500;
    background: var(--dxp-g-root);
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.16);
    left: 0;
}
.verticalPositioning {
    position: fixed;
    left: 0;
    margin: 0;
    height: 100%;
    padding-left: 0;
}

.verticalPositioningWithExternalTrigger {
    position: relative;
    left: 0;
    margin: 0;
    height: 95vh;
    padding-left: 0;
}
.verticalPositioning {
    top: 0;
}
.dropDownListItem {
    display: flex;
    background: var(--dxp-g-root);
}
.dropDownListParent button {
    align-items: center;
}
.dropDownListItem button,
.dropDownListItem a {
    border: 0;
    text-align: start;
    outline: none;
    font-weight: normal;
    font-size: 0.875rem;
    display: flex;
    flex-grow: 1;
    background: none;
    color: var(--dxp-g-root-contrast);
}
.dropDownListChild button {
    justify-content: space-between;
}
.dropDownListItem button span,
.dropDownListItem a span {
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropDownListItem button:hover,
.dropDownListItem button:focus,
.dropDownListItem a:hover,
.dropDownListItem a:focus {
    text-decoration: none;
    background: var(--dxp-g-root-1);
}
/* * Setting bottom border color same as the hover color to avoid jarring effect. */
.dropDownListItem:hover,
.dropDownListItem:focus {
    border-bottom-color: currentColor;
}
/*Mobile screens*/
@media only screen and (max-width: 48em) {
    .verticalPositioning,
    .verticalPositioningWithExternalTrigger {
        width: 100%;
    }
    .dropDownListParent button {
        padding-left: 20px;
    }
    .dropDownListChild button {
        padding-right: 20px;
    }
    .closeButton {
        float: right;
        border: 0;
        text-align: start;
        background: var(--dxp-g-root);
        outline: none;
        padding: 10px 0;
    }
}
/*Desktop and tablet screens*/
@media only screen and (min-width: 48em) {
    /** * The radius is set to 4px because it aligns well with the containing <li> */
    .dropDownListItem:first-child button,
    .dropDownListItem:first-child a {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    .dropDownListItem:last-child button,
    .dropDownListItem:last-child a {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    ul {
        width: 11rem;
        border: 1px solid var(--dxp-g-root-1);
        overflow-x: visible;
        overflow-y: auto;
        transition: max-height 0.2s ease;
        max-height: 500px;
    }
    ul.closed {
        max-height: 0;
        border: 0;
    }
    ul.closed li {
        visibility: hidden;
        max-height: 0;
    }
    ul li a {
        transition: background 0.1s ease;
    }
    .alignRight {
        right: 0;
    }
}
